body {
	background-color: #DEE3EC;
	font-family: 'Raleway', sans-serif;
	color: white;
	margin: 5% 25%;
}

div {
	display: block;
	padding: 15px;
	background-color: #1C2B49;
	margin: 10px 60px;
	text-align: center;
	border-bottom: 3px solid #131E33;

}

.weather-description {
	text-transform: capitalize;

}

.temp {
	font-size: 50px;
	padding: 3%;
}
.city {

}
